body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.body{
    padding-left: 10px;
    padding-right: 10px;
}


/* .body_log {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.container {
    background-color: #566573;
    padding: 50px;
    border-radius: 8px;
} */

.body_log {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.container {
    background-color: #566573;
    color: #f2f2f2;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
}
@media screen and (max-width: 600px) {
    .container {
        max-width: 60%;
    }
}

.log_in{
    border: none;
    max-width: 100%;
    width: 100%;
    max-height: 50px;
    height: 100%;
    padding: 10px;
    background-color: #04AA6D;
    color: #f2f2f2;

}

.log_in:hover{
    background-color: #ddd;
    color: black;
}

.reg_up{
    border: none;
    max-width: 100%;
    width: 100%;
    max-height: 50px;
    height: 100%;
    padding: 10px;
    background-color: #04AA6D;
    color: #f2f2f2;

}

.reg_up:hover{
    background-color: #ddd;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.banner {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7a5a3db7-fb07-4532-aa4c-93f5a5d5d651/d9l0muy-fdf7c7ba-15e3-4ac4-9847-0672b71190b0.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdhNWEzZGI3LWZiMDctNDUzMi1hYTRjLTkzZjVhNWQ1ZDY1MVwvZDlsMG11eS1mZGY3YzdiYS0xNWUzLTRhYzQtOTg0Ny0wNjcyYjcxMTkwYjAuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gkunQX3ImB0huji1sJ6H0bCxws9be-gfGs6M-7Twwx0');
    background-size: cover;
    background-position: center;
    max-height: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
}
.banner h1{
    font-size: 60px;
    color: #bd00ff;
    text-shadow: 0 0 10px #d600ff;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        color: #bd00ff;
        text-shadow: 0 0 10px #00b7ff, 0 0 20px #00b7ffbe, 0 0 30px #00b7ff7b;
    }
    to {
        color: #00b8ff;
        text-shadow: 0 0 20px #bd00ff, 0 0 30px #bb00ffa5, 0 0 40px #bb00ff65;
    }
}
/* .user-images{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
} */

.user-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.user-card {
    text-align: center;
}

.user-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 768px) {
    .user-card img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .user-images table {
        display: block;
    }

    .user-images th {
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        padding: 10px;
    }
}
.footer{
    background-color: #333;
    color: #f2f2f2;
}

.footer p {
    padding: 20px;
    text-align: center;
    margin: 0;
}
/* .profile{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7a5a3db7-fb07-4532-aa4c-93f5a5d5d651/d8aagwj-05603aa6-e3c6-4a2f-98ee-d1188bed4eb5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdhNWEzZGI3LWZiMDctNDUzMi1hYTRjLTkzZjVhNWQ1ZDY1MVwvZDhhYWd3ai0wNTYwM2FhNi1lM2M2LTRhMmYtOThlZS1kMTE4OGJlZDRlYjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Kfd6cne5lRMtSAnOmLSn30PtRhXZwCJGClhgAD-UGmc');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
} */

.profile_container {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7a5a3db7-fb07-4532-aa4c-93f5a5d5d651/dbff1rj-c8fb290d-5a35-4137-b925-759ea0e98f44.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdhNWEzZGI3LWZiMDctNDUzMi1hYTRjLTkzZjVhNWQ1ZDY1MVwvZGJmZjFyai1jOGZiMjkwZC01YTM1LTQxMzctYjkyNS03NTllYTBlOThmNDQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Zk74FqcSimKjviOn9BE6AJBML75_bVcz0PzvFmwgm2Y');
    background-size: cover;
    background-position: center;
    max-height: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.847);
    
}

.profile_pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}

.profile_text {
    margin-left: 20px;
}

.dev_name{
    font-size: 30px;
    text-shadow: 0 0 20px #d600ff;
}

@keyframes glow {
    from {
        color: #bd00ff;
        text-shadow: 0 0 10px #00b7ff, 0 0 20px #00b7ffbe, 0 0 30px #00b7ff7b;
    }
    to {
        color: #00b8ff;
        text-shadow: 0 0 20px #bd00ff, 0 0 30px #bb00ffa5, 0 0 40px #bb00ff65;
    }
}